{% load static %}

<style>
    /*li a.nav-link.active {
        color: green;
    }*/

    li.nav-item.collapse > a:hover {
        color: green;
        background-color: #C0C0C0;
    }

    li.nav-item.collapse.show a.nav-link{
        
        /*background-color:#28cc9c;*/
        background-color: white;
        color:black
        
    }

    li.nav-item.collapse.show a.nav-link.active{
        
        background-color:#28cc9c;
        color:black
        
    }
    li.nav-item.collapse.show a.nav-link:hover{
        
        background-color:#28cc9c;
        color:black
        
    }

    /*code to change background color
    .navbar-nav>.active>a {
        background-color: #C0C0C0;
        color: green;
    }*/
</style>

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-teal elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'home'%}" class="brand-link">
        <div class="row">
        <div class="col-sm-3">
            <img src="{% static 'squest/img/squest_logo.png' %}" class="brand-image" alt="squest_logo">
        </div>
        <div class="col-sm-3">
            <div class="brand-text">Database Platform <br> Automation</div>
        </div>
        </div>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        {% load admin_data %}
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-collapse-hide-child nav-child-indent" data-widget="treeview" role="menu">
                <li class="nav-header">Dashboards</li>
                <li class="nav-item">
                    <a href="{% url 'home'%}" class="nav-link {% if '/dashboards/' in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>Default</p>
                    </a>
                </li>

                {% for menu_item in MENUITEMS %}
                <li class="nav-item">
                    {% with '/'|add:menu_item.slugify|add:'/' as menu_path_check %}
                    <a class="nav-link dropdown-toggle" href="#menu_vendors_{{ menu_item.slugify }}" data-toggle="collapse" data-target="#menu_vendors_{{ menu_item.slugify }}"  role="button" aria-expanded="{% if menu_path_check in request.path %}true{% else %}false{% endif %}" aria-controls="menu_vendors_{{ menu_item.slugify }}">
                        <i class="nav-icon fas fa-database"></i>
                        <p> {{ menu_item.name }} </p>
                    </a>

                    <ul class="nav-collapse-hide-child nav-child-indent" style="list-style-type: none;" data-widget="treeview" role="menu">
                    {% for vendor_item in VENDORITEMS %}
                        {% if vendor_item.menu_item.name == menu_item.name %}
                            <li class="nav-item collapse" id="menu_vendors_{{ menu_item.slugify }}" >
                                {% with '/'|add:vendor_item.slugify|add:'/' as path_check %}
                                <a href="{% url 'squest_survey:survey-vendor-list' menu_item=vendor_item.menu_item.slugify vendor_item=vendor_item.slugify %}" class="nav-link {% if path_check in request.path %}active{% endif %}">
                                    <i class="nav-icon fas fa-server"></i>
                                    <p> {{ vendor_item.name }} </p>
                                </a>
                                {% endwith %}
                            </li>
                        {%endif%}
                    {% endfor %}
                    </ul>
                    {% endwith %}
                </li>
                {% endfor %}
                
                <!--<li class="nav-item">
                    <a href="{% url 'service_catalog:service_list'%}" class="nav-link {% if 'services' in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>Service catalog</p>
                    </a>
                </li>-->
                <li class="nav-item">
                    <a href="{% url 'squest_survey:subscription-list' %}" class="nav-link {% if 'subscription_list' in request.path and not request.GET.state %}active{% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        {% if user.is_superuser %}
                            <p>Subscriptions</p>
                        {%else%}
                            <p>My Subscriptions</p>
                        {%endif%}
                    </a>
                </li>
                <li class="nav-item menu-close">
                    <a href="{% url 'service_catalog:request_list' %}" class="nav-link {% if 'request' in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-list"></i>
                        {% if user.is_superuser %}
                        <p>Requests <span class="badge badge-info right">{% submitted_request user %}</span></p>
                        {%else%}
                        <p>My Requests<span class="badge badge-info right">{% submitted_request user %}</span></p>
                        {%endif%}
                    </a>
                </li>
                <!--<li class="nav-item">
                    <a href="{% url 'service_catalog:instance_list'%}" class="nav-link {% if 'admin/instance/' in request.path and not request.GET.state %}active{% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>Instances</p>
                    </a>
                </li>-->
                
                {% if user.is_superuser %}
                    <!--<li class="nav-header">Resource tracking</li>
                    <li class="nav-item">
                        <a href="{% url 'resource_tracker:resource_pool_list'%}" class="nav-link {% if 'resource_tracker/resource_pool' in request.path %}active{% endif %}">
                            <i class="nav-icon fas fa-poll"></i>
                            <p>Resource pools</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'resource_tracker:resource_group_list'%}" class="nav-link {% if 'resource_tracker/resource_group' in request.path %}active{% endif %}">
                            <i class="nav-icon fas fa-object-group"></i>
                            <p>Resource groups</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'resource_tracker:resource_tracker_graph'%}" class="nav-link {% if 'resource_tracker/resource_tracker_graph' in request.path %}active{% endif %}">
                            <i class="nav-icon fas fa-project-diagram"></i>
                            <p>Graph</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'profiles:billing_group_list'%}" class="nav-link {% if 'billing' in request.path %}active{% endif %}">
                            <i class="nav-icon fas fa-dollar-sign"></i>
                            <p>Billing Groups</p>
                        </a>
                    </li>-->
                    <li class="nav-header">Settings</li>
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'service_catalog:list_tower'%}" class="nav-link {% if 'settings/tower' in request.path %}active{% endif %}">
                            <i class="nav-icon fas fa-chess-rook"></i>
                            <p>Tower/AWX</p>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'profiles:user_list'%}" class="nav-link {% if 'profiles/user/' in request.path %}active{% endif %}">
                            <i class="nav-icon fas fa-user"></i>
                            <p>Users</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'profiles:group_list'%}" class="nav-link {% if '/group/' in request.path %}active{% endif %}">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Groups</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'profiles:team_list'%}" class="nav-link {% if '/team/' in request.path %}active{% endif %}">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Teams</p>
                        </a>
                    </li>
                    <!--<li class="nav-item">
                        <a href="{% url 'service_catalog:global_hook_list'%}" class="nav-link {% if '/global_hook/' in request.path %}active{% endif %}">
                            <i class="nav-icon fas fa-file-code"></i>
                            <p>Global hooks</p>
                        </a>
                    </li>-->
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'admin:index' %}" class="nav-link" target="_blank">
                            <i class="nav-icon fas fa-users-cog"></i>
                            <p>Admin Portal</p>
                        </a>
                    </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>